{% extends 'base.html' %}

{% block content %}

<main class="container">

  <div class="row">
     <div class="col-md-4 offset-md-4 mt-5">  
        <form method="post" class="card card-body">
              <h1 class= "text-center">Iniciar sesión</h1>
  
              {{ error}}
              {% csrf_token %}
              {{ form.as_p }}
  
              <button class="btn btn-primary text-center">
              Iniciar sesión
              </button>
      
        </form>
  
       </div>
 </div>
  
 <hr class="hr-espace">
 <hr class="hr-espace">
 <hr class="hr-espace">
                <hr class="hr-espace">
                <hr class="hr-espace">
                <hr class="hr-espace">
                <hr class="hr-espace">
               
</main>
  
{% endblock %}