{% extends 'base.html' %}
{% load static %}

{% block content %}

<hr class="hr-espace">
<hr class="hr-espace">
<hr class="hr-espace">
<hr class="hr-espace">
<hr class="hr-espace">
<hr class="hr-espace">
<hr class="hr-espace">
<hr class="hr-espace">

<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Contactanos</h2>
            <form id="contact-form">
                <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control controls" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control controls" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="Mayor" class="required controls"> Mayor de edad
                    </label>
                </div>
                <div class="form-group">
                    <input type="text" name="subjet" id="subjet" class="form-control required controls" placeholder="Asunto">
                </div>
                <div class="form-group">
                    <textarea name="message" id="message" class="form-control required controls" placeholder="Contenido" rows="7"></textarea>
                </div>
                <button id="submit-form" class="btn btn-primary btn-block">ENVIAR</button>
                <div class="alert alert-success" style="display: none;"></div>
                <div class="alert alert-danger" style="display: none;"></div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/form_validacion.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
{% endblock %}
