{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Encargar Producto</h2>
            <form id="contact-form">
                <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control required" placeholder="Nombre Usuario">
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control required" placeholder="Email">
                </div>
                <h4 class="text-center">Tipo de Producto</h4>
                <div class="form-group text-center">
                    <label>
                        <input type="radio" name="preferencia" class="required"> Tabaco
                    </label>
                    <label>
                        <input type="radio" name="preferencia" class="required"> Cigarro
                    </label>
                    <label>
                        <input type="radio" name="preferencia" class="required"> Vaper
                    </label>
                    <label>
                        <input type="radio" name="preferencia" class="required"> Otro
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="Mayor" class="required"> Mayor de edad
                    </label>
                </div>
                <div class="form-group">
                    <input type="text" name="pedido" id="pedido" class="form-control" placeholder="Producto a Encargar">
                </div>
                <button id="submit-form" class="btn btn-primary btn-block">Enviar mensaje</button>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/form_validacion.js' %}"></script>
<script src="{% static 'js/messages_es.js' %}"></script>

{% endblock %}






    


    






    


    