{% extends 'base.html' %}
{% load static %}

{% block content %}

 
  <!--Productos-->
  <div id="productos">

    <div class="col-md-12">
        <h2 class="text-center oswald-bold textonero">VAPERS</h2>
        <hr class="hr-espace">
        <h4 class="text-center oswald-bold textonero">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Odit temporibus nam, esse pariatur necessitatibus sapiente harum facilis vitae?
            Praesentium aut veritatis, est maiores repellendus quo deleniti labore iste possimus molestias!
        </h4>
        <hr class="hr-espace">
        <hr class="hr-espace">
    </div>

   










    <div class="flex-container">




        <div class="card text-black bg-dark flex-item">
            <img src="{% static 'img/vapers.jpg' %}" class="imagen" alt="...">
            <div class="card-img-overlay">

                <div class="background trans">
                    <p class="textonero"> VAPERS</p>
                </div>




            </div>
        </div>

        <div class="card text-black bg-dark flex-item">
            <img src="{% static 'img/escencias.png' %}" class="imagen" alt="...">
            <div class="card-img-overlay">

                <div class="background trans">
                    <p class="textonero">ESCENCIAS</p>
                </div>







            </div>
        </div>

        <div class="card text-black bg-dark flex-item">
            <img src="{% static 'img/tabaco.jpg' %}" class="imagen" alt="...">
            <div class="card-img-overlay">

                <div class="background trans">
                    <p class="textonero">TABACOS</p>
                </div>




            </div>
        </div>
    </div>

    <div class="flex-container">


        <div class="card text-black bg-dark flex-item">
            <img src="{% static 'img/acessorios.jpg' %}" class="imagen" alt="...">
            <div class="card-img-overlay">

                <div class="background trans">
                    <p class="textonero">ACCESORIOS</p>
                </div>




            </div>
        </div>

        <div class="card text-black bg-dark flex-item">
            <img src="{% static 'img/repuestos.jpg' %}" class="imagen" alt="...">
            <div class="card-img-overlay">

                <div class="background trans">
                    <p class="textonero">REPUESTOS</p>
                </div>




            </div>
        </div>

        <div class="card text-black bg-dark flex-item">
            <img src="{% static 'img/otros.jpg' %}" class="imagen" alt="...">
            <div class="card-img-overlay">

                <div class="background trans">
                    <p class="textonero">OTROS</p>
                </div>




            </div>
        </div>
    </div>
</div>


        
{% endblock %}






    

    


      


        

   